<html>
    <head>
        
    </head>
    
    <body  background="static/image/slide2.jpeg" >
        <br>
        <br>
        <h1><center>Welcome </center></h1>
        <br><br>
        <p><center><italic>
            Better Commication. ...<br>
            Greate Ssense Of Discipline. ...<br>
            Critical Thinking Skills. ...<br>
            Identification Of Skills. ...<br>
            Leading To Self-belief ...<br>
            Decision Making Skills. ...<br>
            Stability In Life.<br>
       </italic></center></p>
       <br><br><br>
       <p><h1><center>Sign In !!! *Improve your skills*</center></h1></p>
    </body>


</html>